#!/bin/bash

cat {{ easy_ovpn_dir }}/client.conf > {{ easy_ovpn_certs }}/{{ cert_filename }}

echo -e '<ca>' >> {{ easy_ovpn_certs }}/{{ cert_filename }}

cat {{ ovpn_keys_dir }}/ca.crt | sudo tee -a {{ easy_ovpn_certs }}/{{ cert_filename }}

echo -e '</ca>\n<cert>' >> {{ easy_ovpn_certs }}/{{ cert_filename }}

cat {{ easy_ovpn_keys }}/{{ target_fqdn }}.crt | sudo tee -a {{ easy_ovpn_certs }}/{{ cert_filename }}

echo -e '</cert>\n<key>' >> {{ easy_ovpn_certs }}/{{ cert_filename }}

cat {{ easy_ovpn_keys }}/{{ target_fqdn }}.key | sudo tee -a {{ easy_ovpn_certs }}/{{ cert_filename }}

echo -e '</key>\n<tls-auth>' >> {{ easy_ovpn_certs }}/{{ cert_filename }}

cat {{ easy_ovpn_keys }}/{{ ovpn_ta_file }} | sudo tee -a {{ easy_ovpn_certs }}/{{ cert_filename }}

echo -e '</tls-auth>' >> {{ easy_ovpn_certs }}/{{ cert_filename }}
