port 1194
proto udp
dev tun
ca {{ ovpn_keys_dir }}/{{ovpn_ca_cert_file}}
cert {{ ovpn_keys_dir }}/{{ovpn_srv_cert_file}}
key {{ ovpn_keys_dir }}/{{ovpn_srv_key_file}}
dh {{ ovpn_keys_dir }}/{{ovpn_dh_file}}
server {{server_range}} {{server_netmask}}
ifconfig-pool-persist ipp.txt

tls-auth {{ ovpn_keys_dir }}/{{ovpn_ta_file}} 0
key-direction 0
auth SHA256
keysize 256
cipher AES-256-CBC
tls-version-min 1.2
tls-cipher "TLS-ECDHE-RSA-WITH-AES-128-GCM-SHA256:TLS-ECDHE-ECDSA-WITH-AES-128-GCM-SHA256:TLS-ECDHE-RSA-WITH-AES-256-GCM-SHA384:TLS-DHE-RSA-WITH-AES-256-CBC-SHA256"
allow-pull-fqdn

# DNS Entries
{% for s in dns_servers %}
push "dhcp-option DNS {{ s.ip_address }}" # {{ s.description }}
{% endfor %}

# If enabled, this directive will configure all clients to redirect their default
# network gateway through the VPN, causing all IP traffic such as web browsing and and DNS lookups to go through the VPN
# (The OpenVPN server machine may need to NAT or bridge the TUN/TAP interface to the internet in order for this to work properly).
#push "redirect-gateway def1 bypass-dhcp"

management localhost 7505

# Only the following servers use this portal
#push "route-nopull"

# Connected Systems
{% for host in groups.all %}
{% if hostvars[host].ip_address is defined and hostvars[host].netmask is defined %}
push "route {{ hostvars[host].ip_address }} {{ hostvars[host].netmask }}" # {{ hostvars[host].description }}
{% endif %}
{% endfor %}

client-to-client
keepalive 10 120
comp-lzo
user nobody
group nogroup
persist-key
persist-tun
status /var/log/openvpn-status.log
log /var/log/openvpn.log
verb 6

;log-append  /var/log/openvpn.log
;mute 20
